<!-- <p>{{'text' | myPipe }}</p> -->

<!-- <h1>Date Pipe</h1>
<p>
    {{ dateObject | date | lowercase }}
</p>

<br>
____
<br>
<br>

<p>
    {{ dateObject | date:'medium' }}
</p>

<br>
____
<br>
<br>

<p>
    {{ dateObject | date:'shortTime' }}
</p>

<br>
____
<br>
<br>

<p>
    {{ dateObject | date:'dd/MM/yyyy' }}
</p>

<br>
____
<br>
<br>

<p>
    {{ lowercaseText | uppercase }}<br>
    {{ uppercaseText | lowercase }}<br>
    {{ uppercaseText | titlecase }}<br>
</p>

<br>
____
<br>
<br>

<p>
    {{ currency | currency }}<br>
    {{ currency | currency:'CAD' }}<br>
    {{ currency | currency:'teste$' }}<br>
</p>

<br>
____
<br>
<br> -->

<!-- <p>{{myObservable | async | }}</p>

<p>{{getObservable | async }}</p>

<p>{{getObservable | async }}</p> -->

<!-- <div *ngIf="emptyObservable | async">
    Existe um conteúdo
</div> -->

<p>{{myObservable | async | myPipe:1:2:3:"stringparam":currency }}</p>

<button (click)="onChange()">mudar valor</button>
